html, body, div, header, footer, aside, nav, article, section        { 
    margin: 0;
    padding: 0;
}

.full {
    min-height: 90%;
}

#logo {
    font-family: "Brush Script MT", cursive;
    color: white;
    font-size: 30px;
}

@media (min-width: 768px) {
        .navbar-nav {
                float: right;
        }
        .top-margin {
                margin-top: 80px;
        }
}

a {
    color: #33781;
}

#tfnewsearch{
        margin-top: 10px;
}

footer {
    background: #000000;
    border-bottom: 1px solid #aaa;
    margin-top: 25px;
    clear: both;
}
footer p{
    color: white;
    display: block;                               
    margin: auto;
    padding: 10px;
    text-align: center;
}
footer p a{
        padding: 10px;
}
#selection {
    border-radius: 20px;
    width: 100%;
    border: 1px solid black;
    background-image: url('41776.jpg');
    display: inline-block;
}
#selection ul {
    display: inline-block;
}
#selection img {
    width: 250px;
    height: 320px;
    border-radius: 10px;
}